body {
  font-family: 'helvetica', 'sans-serif';
  margin: 0;
}

header {
  background-color: #131313;
  padding: 20px 0;
  position: relative;
  border-bottom: 1px solid #FFB320;
}

footer {
  background-color: #252525;
  padding: 25px 0 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
}

nav ul li {
  display: inline-block;
  font-size: 1em;
  margin: 0 18px;
}

nav ul li a {
  color: #eee;
  font-weight: 600;
}

nav ul li a:hover {
  color: #FFB320;
}

.flex {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  color: white;
}

.hero-marketing-text {
  max-width: 1200px;
  margin: -30px auto 0;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  padding: 0 20px;
}

.hero-marketing-text h1 {
  color: #eee;
  font-size: 3.5em;
  font-weight: 300;
  margin: 0.5em 0;
}

.hero-marketing-text span {
  color: #FFB320;
}

.hero-marketing-text h5 {
  color: #eee;
  font-size: 0.85em;
  font-weight: 300;
  max-width: 500px;
  line-height: 2;
  margin-bottom: 2.5em;
}

.hero-marketing-text button {
  background-color: #FFB320;
  color: #131313;
  border-radius: 25px;
  padding: 15px 25px;
  font-size: 0.85em;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

#more {
  display: none;
}

#hero-image1234 {
  background: #594848;
  height: 820px;
}

#login-register-button {
  background-color: #FFB320;
  color: #131313;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 0.85em;
  font-weight: 600;
  text-align: right;
}
